 <!-- Load an icon library -->
<link rel="stylesheet" href="{{url_for('static',filename='./css/navbar.css')}}">
<script type=text/javascript src="{{url_for('static',filename='./javascript/navbar.js')}}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <ul class="navbar">
    <li>
      <a href="#section1" class="active"><span>01.</span> About</a>
    </li>
    <li>
      <a href="#section2"><span>02.</span> Work</a>
    </li>
    <li>
      <a href="#section3"><span>03.</span></i> Research </a>
    </li>
    <li>
      <a href="#section4"><span>04.</span></i>Contact</a>
    </li>
    <li>
      <a href="#" class="resume" type="submit" onclick="window.open('static/files/yuri_vladimir_cv.pdf')">Resume</a>
    </li>
    <li class="icon"> 
      <a href="javascript:void(0);" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </li>
  </ul>
</div> 