.contact{
    text-align: center;
    margin-top: 50px;
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 100px;
}
.touch-contact{
    margin-top: 30px;
    color: #ccd6f6;
    font-weight: 800;
    font-size: 3.2rem;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.regards{
    margin: auto;
    width: 60%;
    margin-top: 50px;
    color: #8892b0;
    font-size: 1.2rem;
    font-family: Merriweather, serif;
}
.regards>strong{
    color: #48A6E0;
}
@media screen  and (-webkit-min-device-pixel-ratio : 2) and (max-width: 680px) {
    .touch-contact{
        font-weight: 800;
        font-size: 3rem;
    }
    .regards{
        width: 100%;
        margin-top: 51px;
        color: #8892b0;
    }
  }